@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  font-family: 'Noto Sans JP';
}

.about-contents {
  padding-top: 100px;
  background-color: #222;
  color: #fff;
}

.about-title {
  font-size: 50px;
  border-bottom: 1px solid #fff;
}

.bold {
  font-weight: bold;
}

.about-content {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 30px;
}

.intro {
  margin-top: 10px;
}

.members {
  height: auto;
  margin-bottom: 50px;
}

.events {
  margin-bottom: 50px;
}

.access {
  padding-bottom: 50px;
}

@media (max-width:768px) {
  
  .about-content {
    width: 90%;
    font-size: 18px;
  }
  
}

