.main {
  min-width: 1060px;
}

.about-contents {
  padding-top: 100px;
  background-color: #222;
  color: #fff;
}

.about-title {
  font-size: 50px;
  border-bottom: 1px solid #fff;
}

.about-content {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 30px;
}

.members {
  height: auto;
  margin-bottom: 50px;
}

.events {
  margin-bottom: 50px;
}

.access {
  padding-bottom: 50px;
}

