@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  font-family: 'Noto Sans JP';
}

.contact {
  overflow-y: visible;
}



.copyright {
  margin-top: 70px;
  font-size: 15px;
  color: #FF9B37;
}