@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url('https://fonts.googleapis.com/css?family=Acme');

* {
  font-family: 'Noto Sans JP';
  
}

.main {
  background-color: #222;
  padding-top: 50px;
  height: auto;
}

.genre-content {
  height: 800px;
  background-color: #222;
  border-bottom: 1px solid #fff;
}

.genre-title {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 0px;
  padding-top: 40px;
  padding-left: 40px;
  opacity: 0;
  transform: translate(100px, 0);
  -webkit-transform: translate(100px, 0);
  transition: 2s;
  display: inline-block;
  font-family: 'Acme', sans-serif;
}

.initial {
  font-size: 150px;
font-family: 'Acme', sans-serif;
}

.genre-inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre-img {
  width: 100%;
  padding-top: 0px;
}

.genre-left {
  color: #fff;
  font-size: 24px;
  width: 30%;
  flex-direction: column;
  text-align: center;
  margin-right: 50px;
  padding-left: 40px;
  margin-top: 20px;
}



.mv01 {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

@media (max-width:1000px) {
  
  .genre-content {
    height: auto;
  }
  
  .initial {
    font-size: 90px;
  }
  
  .genre-title {
    font-size: 50px;
    padding: 0;
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transition: 0s;
    letter-spacing: 0;
  }
  

  
  .genre-inner {
    flex-direction: column;
  }
  
  .genre-left {
    width: 90%;
    padding: 0;
    margin: 0;
  }
  
  .genre-right {
    width: 90%;
  }
  
  
  .genre-right iframe {
    width: 100%;
    padding-bottom: 30px;
  }
  
  .genre-infomation {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
}