.main {
  min-width: 1060px;
  background-color: #222;
  padding-top: 50px;
  height: auto;
}

.genre-content {
  height: 760px;
  background-color: #222;
  border-bottom: 1px solid #fff;
}

.genre-title {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  padding-top: 40px;
  padding-left: 40px;
  opacity: 0;
  transform: translate(100px, 0);
  -webkit-transform: translate(100px, 0);
  transition: 2s;
  display: inline-block;
}

.initial {
  font-size: 150px;
}

.genre-inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre-img {
  width: 100%;
  padding-top: 0px;
}

.genre-left {
  color: #fff;
  font-size: 24px;
  width: 30%;
  flex-direction: column;
  text-align: center;
  margin-right: 50px;
  padding-left: 40px;
  margin-top: 20px;
}

.mv01 {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}