@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.Grobal-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-inner {
  height: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(30, 30, 30, 0.9);
}

.header-blank {
  display: none;
}

.header-logo {
  font-family: 'Permanent Marker', cursive;
  /*width: 150px;*/
  letter-spacing: 5px;
  font-size: 50px;
  color: #fff;
}

.header-menu {
  font-size: 24px;
  letter-spacing: 1px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.header-menu a {
  color: #fff;
  padding: 7px 30px;
  border-left: 1px solid #fff;
  transition: 0.2s;
}

.header-menu a:hover {
  color: #000;
  background-color: #fff;
}


.menu-trigger,
.menu-trigger span {
	display: none;
	transition: all .4s;
	box-sizing: border-box;
}
.menu-trigger {
	position: relative;
	width: 30px;
	height: 20px;
}
.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
	top: 0;
}
.menu-trigger span:nth-of-type(2) {
	top: 9px;
}
.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

@media (max-width:768px) {
  
  .menu-trigger,
  .menu-trigger span {
  	display: inline-block;
    margin-right: 20px;
  }
  
  .header-blank {
    width: 50px;
    display: inline-block;
  }
  
  .header-logo {
    margin: 0 auto;
  }
  
  .header-menu {
    display: none;
  }
  
  .header-inner {
    justify-content: flex-end;
  }
  
  .Grobal-header {
    position: fixed;
  }